<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Revtec_Bioquimica.Properties.Settings.db_estoqueConnectionString"
            connectionString="server=revtec-pc;user id=emerson;password=13572468@#;persistsecurityinfo=True;database=db_estoque"
            providerName="MySql.Data.MySqlClient" />
        <add name="Revtec_Bioquimica.Properties.Settings.prog7279_producaoConnectionString"
            connectionString="server=162.241.203.162;user id=prog7279_emerson;password=13572468@#;persistsecurityinfo=True;database=prog7279_producao"
            providerName="MySql.Data.MySqlClient" />
        <add name="Revtec_Bioquimica.Properties.Settings.prog7279_producaoConnectionString1"
            connectionString="user id=prog7279_emerson;password=13572468@#;persistsecurityinfo=True;server=162.241.203.162;database=prog7279_producao"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
